<!DOCTYPE>
<html>
<head>
<title>Login Form</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>


<body>

<div class="register-header">
<h2>Log In</h2>
       
	     <div class="register_form">
		  
		  <div>
	
		<form  action="/login" method="POST" >

		<input type="email" id="email" name="email" placeholder="Email" required> <br>
		
		<input type="password" id="password" name="password" placeholder="Password" required> <br>
		

		<button style="display:inline" class="add-btn" type="submit" >Submit</button>
		<br><br><br>
		<br>
		<p >Haven't registered yet? <a href="./register">Register Now</a></p>
	
	</form>
	</div>
	
</div>




 </div>

</body>
</html>