<!DOCTYPE>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Registation Form</title>
<link rel="stylesheet" type="text/css" href="/style.css">

</head>


<body>

<div class="register-header">
<h2>Registation</h2>



  
	     <div class="register_form">
		  
		  <div>
			

			<% if(locals.err_msg) { %>
				<div class="alert alert-danger" role="alert"><%= err_msg %></div>
				<% } %>
	
		<form  action="/register" method="POST" >
		
	
		<input type="text" id="uname" name="username" placeholder="User Name" required> <br>

	
		<input type="email" id="email" name="email" placeholder="Email" required> <br>
		
		<input type="password" id="password" name="password" placeholder="Password" required> <br>
		

		
	

		<button style="display:inline" class="add-btn" type="submit" >Submit</button>
		<br><br>
		
		<p > Already egistered?  <a href="./login">Sign In</a></p>
	
	</form>
	</div>
	
</div>




 </div>

</body>
</html>